footer {

    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-top: 10rem;


}

.form {
    font: 900;
    border-width: 2px;
    height: 50%;
    width: 50%;
    align-self: center;

    margin: auto;
    text-decoration: bold;
    border: 0px solid black;
    padding: 10px;
    border-radius: 10%;
    opacity: 100%;
    background-color: rgba(52, 53, 56, 0.5);
    backdrop-filter: 100%;
}



h1 {
    text-align: center;
}



.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

.phone-email {
    text-decoration: white !important;
}



/*-----------contact page------------- */

.button {
    text-align: center;
}

a {
    color: white;
}

body {

    background-image: url("../images/dog3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}




@media only screen and (max-width: 576px) {
    .form {

        width: 50%;
        margin:

    }

}



@media only screen and (max-width: 768px) {
    .form {
        width: 50%;
        margin:
    }

}

@media only screen and (max-width: 768px) {
    .form {
        width: 90%;
        margin:
    }

}

/* FOR CONTACT FORM. COPY AND PASTED EN MASSE FROM LOVE RUNNING-------*/





/*-------------------------*/