/*--------------------------------------Header-------*/

header {
    margin: 0;
}

.navbar {
    padding: 0;
}

header li {
    color: orange;
}

.bg-color-navbar {
    background-color: blue;
}

.nav-link {
    background-color: blue;
}

/*---------------------------------------Main--------*/

main {
    background: orange;
    margin: 0;
}

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 30px;
    margin: 0;
}

.footer-item {
    padding: 30px;
    color: #fafafa;
}