@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*--------------------------------------General Styles-------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/*--------------------------------------Header-------*/

header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
}

.navbar {
    padding: 0;
}

.logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.navbar-toggler {
    border: none;
}

header li {
    color: orange;
}

.bg-color-navbar {
    background-color: #970161;
}

.nav-link {
    background-color: #970161;
}

/*-------------------------------------------------- Hero Section */

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/dog_in_ocean.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/*---------------------------------------Main--------*/

main {
    background: orange;
    margin: 0;
    margin-top: 40px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #970161;
    color: #f5721b;
    min-height: 30px;
    margin: 0;
}

.contact-details {
padding-top: 8px;
}

.footer-item {
    padding: 16px;
    color: #f5721b;
}