@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*--------------------------------------General Styles-------*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/*--------------------------------------Header-------*/

header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
}

.navbar {
    padding: 0;
}

.logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.navbar-toggler {
    border: none;
}

header li {
    color: orange;
}

.bg-color-navbar {
    background-color: #970161;
}

.nav-link {
    background-color: #970161;
}

/*---------------------------------------Main--------*/

main {
    background: orange;
    margin: 0;
    margin-top: 40px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #970161;
    color: #f5721b;
    min-height: 30px;
    margin: 0;
}

.contact-details {
    padding-top: 8px;
}

.footer-item {
    padding: 20px;
    color: #f5721b;
}


/* PETERS CSS */

.form {
    font: 900;
    border-width: 2px;
    height: 50%;
    width: 50%;
    align-self: center;

    margin: auto;
    text-decoration: bold;
    border: 0px solid black;
    padding: 10px;
    border-radius: 10%;
    opacity: 100%;
    background-color: rgba(52, 53, 56, 0.5);
    backdrop-filter: 100%;
}